* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
.header {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  background: #ffffff;
  color: #000000;
  border-bottom: 2px solid #555555;
}
.title {
  margin: 0;
}
main {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 2;
}
.game {
  position: relative;
  width: 288px;
  height: 512px;
  overflow: hidden;
}
.play {
  display: block;
  position: absolute;
  top: 236px;
  left: 124px;
  width: 40px;
  height: 40px;
  background-image: url(../svg/play.svg);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.game-over {
  display: block;
  position: absolute;
  top: 150px;
  left: 45px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.results {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  background-color: #ffffff;
  transition: transform 0.5s ease-in;
  z-index: 2;
}
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 10px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.show {
  transform: translateY(0);
}
.results-btn {
  display: block;
  position: absolute;
  bottom: 18px;
  left: 58px;
  padding: 5px 10px;
  border: 2px solid #82E38C;
  background-color: #82E38C;
  cursor: pointer;
  color: #ffffff;
  font-family: inherit;
  font-size: 20px;
  transition: 0.3s;
}
.results-btn:hover {
	box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
  background-color: #B5FD6B;
}
.hidden {
  display: none;
}
.footer {
  display: flex;
  flex-direction: row;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  background: #ffffff;
  border-top: 2px solid #555555;
}
a {
  text-decoration: none;
  color: #000000;
  transition: 0.3s;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #555555;
}
.rs-logo {
  display: block;
  width: 5rem;
  height: 2rem;
  background-image: url('../svg/rs_school_js.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}