* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; 
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
h1, h2 {
  margin: 0;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}
p {
  margin: 0;
}
img { 
  width:auto; 
  max-width:100%; 
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #bdae82;
}
.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}
.logo {
  margin-left: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .header {
    background-image: url('../img/hero-bg-tablet.jpg');
  }
  .logo {
    margin-left: 60px;
  }
}
.logo-img {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.3s;
}
.logo-img:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.header-nav {
  display: flex;
  justify-content: right;
  line-height: 50px;
  margin-top: 20px;
}
ul.header-menu {
  display: flex;
  justify-content: right;
  margin: 0;
  margin: 0;
  list-style: none;
}
ul.header-menu>li {
  position: relative;
  margin: 0;
  margin-right: 31px;
  padding: 0;
}
@media (max-width: 768px) {
  ul.header-menu {
    display: none;
  }
}
.lang {
  margin-right: 20px;
  font-weight: 700;
}
.lang-delimiter {
  margin-left: 9px;
  margin-right: 8px;
}
@media (max-width: 768px) {
  .lang-delimiter {
    margin-left: 11px;
    margin-right: 18px;
  }
}
a.lang-active {
  color: #bdae82;
}
.hamburger {
  display: none;
  width: 50px;
  height: 50px;
  margin-right: 64px;
  background: url('../svg/hamburger.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
.hero {
  height: 820px;
  padding-top: 160px;
  padding-left: 80px;
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center -90px;
}
.hero-text-block {
  width: 500px;
  padding-right: 30px;
  font-size: 20px;
  line-height: 40px;
}
h1 {
  font-size: 60px;
  line-height: 120px;
}
.hero-text-block p {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .hero {
    height: 500px;
    padding-top: 78px;
    padding-left: 60px;
    background-image: url('../img/hero-bg-tablet.jpg');
  }
  .hero-text-block {
    width: 390px;
    padding-right: 0;
    font-size: 20px;
    line-height: 24px;
  }
  h1 {
    font-size: 32px;
    line-height: 64px;
  }
  .hero-text-block p {
    margin-top: 20px;
  }
}
.btn {
  width: 220px;
  height: 55px;
  padding: 0;
  border: 2px solid #bdae82;
  background-color: transparent;
  cursor: pointer;
  color: #bdae82;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  transition: 0.3s;
}
.btn-gold {
  background-color: #bdae82;
  color: #000000;
}
.btn:hover {
  color: #ffffff;
}
.hero-text-block .btn {
  margin-top: 25px;
}
@media (max-width: 768px) {
  .hero-text-block .btn {
    margin-top: 60px;
  }
}
.section-title {
  width: 700px;
  margin: 0 auto;
  margin-top: 101px;
  color: #bdae82;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}
.section-title span {
  padding: 0 20px;
  background-color: #000000;
}
.skills-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.skill-item {
  width: 320px;
  padding: 140px 20px 8px;
  background-repeat: no-repeat;
  background-position: center 60px;
  text-align: center;
}
.skill-title {
  font-size: 20px;
  line-height: 40px;
}
.skill-desc {
  font-size: 18px;
  line-height: 36px;
}
.skill-item:nth-child(1) {
  background-image: url('../svg/camera.svg');
  background-size: 62px 50px;
}
.skill-item:nth-child(2) {
  background-image: url('../svg/video.svg');
  background-size: 60px 50px;
}
.skill-item:nth-child(3) {
  background-image: url('../svg/image.svg');
  background-size: 66px 50px;
}
.skill-item:nth-child(4) {
  background-image: url('../svg/mic.svg');
  background-size: 32px 50px;
}
@media (max-width: 768px) {
  .section-title {
    width: 364px;
    height: 80px;
    margin-top: 80px;
    font-size: 32px;
    line-height: 80px;
    text-align: center;
    background-image: linear-gradient(to top, #000 40px, #bdae82 40px, #bdae82 42px, #000 42px);
  }
  .skills-items {
    gap: 44px;
    margin-top: 36px;
    margin-bottom: 135px;
  }
  .skill-item {
    width: 300px;
    background-position: center 9px;
    padding: 88px 10px 25px;
  }
  .skill-item h3 {
    margin: 0;
    font-size: 20px;
    line-height: 40px;
  }
  .skill-desc {
    margin-top: 20px;
    line-height: 22px;
  }
}
.season-switch {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 60px;
}
@media (max-width: 900px) {
  .season-switch {
    max-width: 660px;
    margin: 0 auto;
    margin-top: 50px;
  }
}
.photo-gallery {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.video-player {
  margin-top: 60px;
  height: 705px;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url('../img/video-preview.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
}
.btn-play {
  position: absolute;
  height: 130px;
  width: 130px;
  border: none;
  background-image: url('../svg/play.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.btn-play:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
@media (max-width: 1100px) {
  .video-player {
    height: 534px;
  }
}
@media (max-width: 900px) {
  .video-player {
    height: 433px;
  }
}
@media (max-width: 768px) {
  .video-player {
    margin-top: 50px;
    height: 418px;
    background-image: url('../img/video-preview-small.jpg');
  }
  .btn-play {
    height: 75px;
    width: 75px;
    background-image: url('../svg/play_small.svg');
  }
}
.price-items {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.price-item {
  width: 450px;
  padding-top: 10px;
  padding-bottom: 40px;
  border: 3px solid #bdae82;
  text-align: center;
}
.price-item h3 {
  margin: 0;
  margin-top: 28px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
}
.price-value {
  margin: 0;
  margin-top: 21px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  color: #bdae82;
}
.price-desc {
  margin-top: 20px;
  margin-bottom: 40px;
}
.price-desc span {
  display: block;
  font-size: 18px;
  line-height: 36px;
}
@media (max-width: 768px) {
  .price-items {
    margin-top: 50px;
  }
  .price-item {
    width: 420px;
    margin-bottom: 27px;
  }
}
.contacts.container {
  min-height: 700px;
  margin-top: 100px;
  padding-top: 60px;
  padding-right: 20px;
  background: url('../img/contacts-bg.jpg');
  background-size: auto 700px;
  background-position: center center;
}
.contacts-section-title {
  margin-left: auto;
  margin-bottom: 40px;
  width: 450px;
  color: #bdae82;
  font-size: 40px;
  line-height: 80px;
  text-align: left;
}
.contact-form {
  margin-left: auto;
  width: 450px;
}
.contact-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact-form li {
  margin-top: 20px;
}
.contact-form li:last-child {
  margin-top: 25px;
}
input[type=email], input[type=tel], textarea {
  width: 450px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  font-family: inherit;
  color: #bdae82;
  font-size: 20px;
  line-height: 40px;
  background-color: transparent;
  border: 2px solid #bdae82;
}
input[type=email]:focus, input[type=tel]:focus, textarea:focus {
  outline: none;
}
textarea {
  height: 100px;
  resize: none;
}
::placeholder {
  font-family: inherit;
  color: #bdae82;
  font-size: 20px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #bdae82;
  transition: background-color 0s ease-in-out 9000s;
}
.footer {
  min-height: 150px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  line-height: 50px;
}
.copyright span {
  margin-right: 20px;
}
.rs {
  position: relative;
  left: 7px;
}
.social {
  position: relative;
  top: 8px;
}
.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 14px;
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.3s;
}
.icon.insta {
  background: url('../svg/insta.svg');
}
.icon.fb {
  background: url('../svg/fb.svg');
}
.icon.tw {
  background: url('../svg/tw.svg');
}
.icon.pinterest {
  background: url('../svg/pinterest.svg');
}
.icon:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}