* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; 
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
h1, h2 {
  margin: 0;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}
p {
  margin: 0;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #bdae82;
}
.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  background: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}
.logo {
  margin-left: 20px;
  margin-top: 20px;
}
.logo-img {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.3s;
}
.logo-img:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.header-nav {
  display: flex;
  justify-content: right;
  line-height: 50px;
  margin-top: 20px;
}
ul.header-menu {
  display: flex;
  justify-content: right;
  margin: 0;
  margin: 0;
  list-style: none;
}
ul.header-menu>li {
  position: relative;
  margin: 0;
  margin-right: 31px;
  padding: 0;
}
.lang {
  margin-right: 20px;
  font-weight: 700;
}
.lang-delimiter {
  margin-left: 9px;
  margin-right: 8px;
}
a.lang-active {
  color: #bdae82;
}
.hero {
  height: 820px;
  padding-top: 160px;
  padding-left: 80px;
  background: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center -90px;
}
.hero-text-block {
  width: 500px;
  padding-right: 30px;
  font-size: 20px;
  line-height: 40px;
}
h1 {
  font-size: 60px;
  line-height: 120px;
}
.hero-text-block p {
  margin-top: 10px;
}
.btn {
  width: 220px;
  height: 55px;
  padding: 0;
  border: 2px solid #bdae82;
  background-color: transparent;
  cursor: pointer;
  color: #bdae82;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  transition: 0.3s;
}
.btn-gold {
  background-color: #bdae82;
  color: #000000;
}
.btn:hover {
  color: #ffffff;
}
.hero-text-block .btn {
  margin-top: 25px;
}
.section-title {
  width: 700px;
  margin: 0 auto;
  margin-top: 101px;
  color: #bdae82;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}
.section-title span {
  padding: 0 20px;
  background-color: #000000;
}
.skills-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skill-item {
  width: 320px;
  padding: 140px 20px 8px;
  background-repeat: no-repeat;
  background-position: center 60px;
  text-align: center;
}
.skill-title {
  font-size: 20px;
  line-height: 40px;
}
.skill-desc {
  font-size: 18px;
  line-height: 36px;
}
.skill-item:nth-child(1) {
  background-image: url('../svg/camera.svg');
  background-size: 62px 50px;
}
.skill-item:nth-child(2) {
  background-image: url('../svg/video.svg');
  background-size: 60px 50px;
}
.skill-item:nth-child(3) {
  background-image: url('../svg/image.svg');
  background-size: 66px 50px;
}
.skill-item:nth-child(4) {
  background-image: url('../svg/mic.svg');
  background-size: 32px 50px;
}
.season-switch {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 60px;
}
.photo-gallery {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.video-player {
  margin-top: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.btn-play {
  position: absolute;
  height: 130px;
  width: 130px;
  border: none;
  background-image: url('../svg/play.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.btn-play:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}